<div class="comment">
    <div class="user-info">
        <div class="clearfix">
            <img src="<%=author.photoUrl%>" class="user-photo pull-right"></img>
        </div>
        <div class="clearfix">
            <div class="user-name pull-right"><%=author.name%></div>
        </div>
        <div class="comment-time pull-right"><%=comment.time%></div>
    </div>
    <div class="comment-box">
        <img src="<%=comment.photo%>" class="comment-photo"></img>
        <div class="stars">
            <% for (var i = 0; i < 5; i++)
            if (i < comment.score) { %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% } else { %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <% } %>
        </div>
        <div class="comment-text"><%=comment.text%></div>
        <div class="comment-footer">
            <div class="pull-left">
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div id="location"><%=comment.location%></div>
                </div>
            </div>
            <div class="pull-right">
                <div>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div id="likes-count"><%=comment.likes%></div>
                </div>
            </div>
        </div>
    </div>
</div>